*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    height: 100vh;
    background: black;
}
h1{
    color: white;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid white;
    font-size: 21px;
}

#container{
    width: 100%;
    max-width: 900px;
    margin: 15px auto;
    padding: 0 24px;
}

/* Navegação */
#top{
    display: flex;
    padding: 10px;
    border: 1px solid red;
}
#top a{
    display: flex;
    font-weight: 600;
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 5px;
}
a:hover{
    transform: scale(1.1);
    transition: .3s ease all;
    background: rebeccapurple;
}

/* Profile */
#profile{
    border: 1px solid red;
    text-align: center;
    padding: 20px;
}
#profile img{
    width: 125px;
    border-radius: 50%;
    border: 2px solid white;
}
#profile p{
    margin-top: 15px;
    color: white;
    font-size: 19px;
    font-weight: 500;
}

/* Sobre mim */
#sobre{
    margin-top: 15px;
    border: 1px solid red;
    text-align: center;
}
#sobre p{
    margin: 0 auto;
    padding: 18px;
    font-size: 18px;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 500;
    color: white;
}

/* Habilidades */
#habilidades{
    margin-top: 15px;
    border: 1px solid red;
    text-align: center;
}
#habilidades li{
    display: inline-flex;
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    color: white;
    border: 1px solid white;
    list-style: none;
}
li:hover{
    background: rebeccapurple;
}

/* Projetos */
#projetos h1{
    text-align: center;
}
#projetos{
    margin-top: 15px;
    border: 1px solid red;
    text-align: center;
}
#box{
    display: inline-block;
    border: 1px solid white;
    padding: 18px;
    margin: 15px;
    text-align: center;
}
#box h2{
    margin-bottom: 15px;
    color: white;
    font-size: 18px;
    font-weight: 500;

}
#box a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
#box a:hover{
    transform: scale(1.1);
    transition: .3s ease all;
    padding: 5px;
    font-size: 13px;
    background: rgb(0, 0, 0);
    border-radius: 90%;
}
#box:hover{
    background: rebeccapurple;
}


